{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}
{% import 'AqpglugCodemedoBundle:Macros:image.html.twig' as image %}

{% block content %}

<ul class="menu">
    <li class="selected"><a href="#nap90-0">Preguntas Frecuentes</a></li>
    <li><a href="#nap90-1">Presentaciones</a></li>
    <li><a href="#nap90-2">Galerias</a></li>
</ul>
<img src="/bundles/aqpglugcodemedo/images/icons/rss.png" alt="rss" />
<img src="/bundles/aqpglugcodemedo/images/icons/email.png" alt="email" />

<div id="articles">
    {% render 'AqpglugCodemedoBundle:Block:featured' with {
                'type': 'article',
                'template': 'AqpglugCodemedoBundle:Article:featured.html.twig',
                'limit': 3 } %}

    <ul class="article_list">
    {% for article in articles %}
        <li class="article">
            <img src="{{ image.or_default( article.image, 'http://lorempixum.com/80/80/technics/' ~ article.slug) }}" alt="{{ article.title }}" />
            <h3><a href="{{ path("_article_show", {'slug': article.slug}) }}">{{ article.title }}</a></h3>
            {% if article.metadata.resume is defined %}
                <span>{{ article.metadata.resume|raw }}</span>
            {% endif %}
        </li>
    {% else %}
        <li>no hay articulos</li>
    {% endfor %}
    </ul>
    <ul class="paginator">
        <img src="" {% if page == 1 %}href=""{% endif %}/>
        <li><a {% spaceless %}
            href="{{ path('_admin_list', {'type': type, 'page': i }) }}" 
            {% if i == page %}class="currentpage"{% endif %}>{{i}}
        {% endspaceless %}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}