{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% import 'AqpglugCodemedoBundle:Macros:image.html.twig' as image %}
{% import 'AqpglugCodemedoBundle:Macros:nav.html.twig' as nav %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/bundles/aqpglugcodemedo/css/article.css') }}" />
{% endblock %}

{% block title %}Artículos{% endblock %}

{% block content %}
    {% render 'AqpglugCodemedoBundle:Article:featured' %}

    <ul class="article_list">
    {% for article in articles %}
        <li class="article">
            <a href="{{ path("_article_show", {'slug': article.slug}) }}"><img src="{{ image.or_default( article.image, 'http://lorempixum.com/g/80/80/technics/' ~ article.slug) }}" alt="{{ article.title }}" /></a>
            <h3><a href="{{ path("_article_show", {'slug': article.slug}) }}">{{ article.title }}</a></h3>
            {% if article.metadata.resume is defined %}
                <span>{{ article.metadata.resume|raw }}</span>
            {% endif %}
        </li>
    {% else %}
        <li>no hay articulos</li>
    {% endfor %}
    </ul>

    {{ nav.arrows('_article', page, pages) }}

{% endblock %}