{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% import 'AqpglugCodemedoBundle:Macros:image.html.twig' as image %}
{% import 'AqpglugCodemedoBundle:Macros:nav.html.twig' as nav %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/bundles/aqpglugcodemedo/css/article.css') }}" />
{% endblock %}

{% block title %}Artículos{% endblock %}

{% block content %}
<div class="article">
    {% if featured %}
    <div class="featured">
        <img src="{{ image.or_default( featured.image, 'default_180.png') }}" alt="{{ featured.title }}" />
        <a href="{{ path('_article_show', {'slug': featured.slug} ) }}"><h2>{{ featured.title }}</h2></a>
        <p>{{ featured.metadata.resume|raw }}</p>
    </div>
    {% endif %}

    <ul class="list">
    {% for article in articles %}
        <li>
            <img src="/bundles/aqpglugcodemedo/images/{{ article.image }}" alt="{{ article.title }}" />
            <a href="{{ path("_article_show", {'slug': article.slug}) }}"><h2>{{ article.title }}</h2></a>
            {% if article.metadata.resume is defined %}
                <span>{{ article.metadata.resume|raw }}</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {{ nav.arrows('_article', page, pages) }}
</div>

{% endblock %}