{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}
{% import 'AqpglugCodemedoBundle:Macros:image.html.twig' as image %}

{% block content %}

<div id="articles">
    {% render 'AqpglugCodemedoBundle:Block:list' with {
                'type': 'article',
                'field': 'featured',
                'template': 'AqpglugCodemedoBundle:Article:featured.html.twig',
                'limit': 3 } %}

    <ul class="article_list">
    {% for article in articles %}
        <li class="article">
            <img src="{{ image.or_default( article.image, 'http://lorempixum.com/g/80/80/technics/' ~ article.slug) }}" alt="{{ article.title }}" />
            <h3><a href="{{ path("_article_show", {'slug': article.slug}) }}">{{ article.title }}</a></h3>
            <span>{{ article.metadata.resume|raw }}</span>
        </li>
    {% else %}
        <li>no hay articulos</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}