{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% import 'AqpglugCodemedoBundle:Macros:image.html.twig' as image %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/bundles/aqpglugcodemedo/css/article.css') }}" />
{% endblock %}

{% block content %}
<div id="articles">
    {% render 'AqpglugCodemedoBundle:Block:featured' with {
                'type': 'article',
                'template': 'AqpglugCodemedoBundle:Article:featured.html.twig',
                'limit': 3 } %}

    <ul class="article_list">
    {% for article in articles %}
        <li class="article">
            <img src="{{ image.or_default( article.image, 'http://lorempixum.com/g/80/80/technics/' ~ article.slug) }}" alt="{{ article.title }}" />
            <h3><a href="{{ path("_article_show", {'slug': article.slug}) }}">{{ article.title }}</a></h3>
            {% if article.metadata.resume is defined %}
                <span>{{ article.metadata.resume|raw }}</span>
            {% endif %}
        </li>
    {% else %}
        <li>no hay articulos</li>
    {% endfor %}
    </ul>
    <ul class="nav">
        <li class="left">{% if page != 1 %}
            <a href="{{ path('_article_index', {'page': page -1 }) }}">
                <img src="/bundles/aqpglugcodemedo/images/icons/navleft.png" alt="Anterior"/>
            </a>
            {% else %}
                <img src="/bundles/aqpglugcodemedo/images/icons/navleft.png" alt="Anterior"/>
            {% endif %}
        </li>
        <li class="right">{% if page != pages %}
            <a href="{{ path('_article_index', {'page': page + 1 }) }}">
                <img src="/bundles/aqpglugcodemedo/images/icons/navright.png" alt="Siguiente" />
            </a>
            {% else %}
                <img src="/bundles/aqpglugcodemedo/images/icons/navright.png" alt="Siguiente" />
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}