{% extends '::base.html.twig' %}

{% block title %}AQPGLUG{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/bundles/aqpglugcodemedo/css/reset.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/bundles/aqpglugcodemedo/css/base.css') }}" />
    <script type="text/javascript" src="{{ asset('/bundles/aqpglugcodemedo/js/jquery-1.6.1.min.js') }}"></script>
{% endblock %}

{% block body %}
<div id="container">
    <div id="header">
        <h1>AQPGLUG</h1>
        <input id="search" type="text" placeholder="Buscar" />
        <ul class="menu"> 
            <li><a href="{{ path('homepage') }}" >Inicio</a></li>
            <li><a href="{{ path('_article_index') }}">Artículos</a></li>
            <li><a href="{{ path('_project_index') }}">Proyectos</a></li>
            <li><a href="{{ path('_event_index') }}">Eventos</a></li>
            <li><a href="{{ path('_member_index') }}">Comunidad</a></li>
            <li><a href="{{ path('_page_show', {'slug': 'contacto'}) }}">Contacto</a></li> 
        </ul> 
        <hr />
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
