{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/bundles/aqpglugcodemedo/css/admin.css') }}" />
{% endblock %}

{% block content %}
<div id="admin">
    
    {% block admin_menu %}
        <ul class="menu">
            <li><a href="{{ path('_admin') }}" >Dashboard</a></li>
        {% for type, label in get_labels %}
            <li><a href="{{ path('_admin_list', {'type': type }) }}" >{{ label }}</a></li>
        {% endfor %}
            <li>
                <ul style="float: right">
                    <li><a href="{{ path('_logout') }}" >Logout</a></li>
                </ul>
            </li>
        </ul>
    {% endblock admin_menu %}
    {% block admin %}
    {% endblock admin %}
</div>
{% endblock %}
