{% extends 'AqpglugCodemedoBundle:Admin:layout.html.twig' %}

{% block title %}Admin - {{ get_labels[type]}}{% endblock %}

{% block admin %}
<ul class="menu submenu">
    <li><span>{{ get_labels[type]}}</span</li>
    <li><a href="{{ path('_admin_new', {'type': type}) }}" class="icontext plus" >Nuevo</a></li>
        {% if pages > 1 %}
    <li><ul class="right paginator">
    {% for i in range(1, pages) %}
    <li><a {% spaceless %}
            href="{{ path('_admin_list', {'type': type, 'page': i }) }}" 
            {% if i == page %}class="currentpage"{% endif %}>{{i}}
        {% endspaceless %}</a></li>
    {% endfor %}
    </ul></li>
    {% endif %}
</ul>
    <table class="list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th title="Publicado">pub</th>
                <th title="Destacado">feat</th>
                <th>Fecha</th>
                <th></th>
            </tr>
            
        </thead>
    {% for block in blocks %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td class="id">{{block.id}}</td>
            <td class="title"><a href="{{ path("_admin_edit", {'id': block.id}) }}">{{ block.title }}</a></td>
            <td class="slug">{{ block.slug }}</td>
            <td class="pub">
                <a href="{{ path("_admin_publish", {'id': block.id}) }}" >
                    <span class="icon {% if not block.published %}stop{%else%}tick{% endif %}"></span>
                </a>
            </td>
            <td class="feat">
                <a href="{{ path("_admin_feature", {'id': block.id}) }}" >
                    <span class="icon {% if not block.featured %}stop{%else%}tick{% endif %}"></span>
                </a>
            </td>
            <td class="date">{{block.created|date("Y/m/d h:m")}}</td>
            <td class="actions"><a class="remove" href="{{ path("_admin_remove", {'id': block.id}) }}"><span class="icon trash"></span></a></td>
        </tr>
    {% else %}
        <tr><td>no hay nada para mostrar aquí</td></tr>
    {% endfor %}
        
    </table>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(function(){
    $('.remove').click(function(i){
        if (confirm('¿Esta seguro?')) {
            $('<form method="POST" action="' + i.currentTarget.href + '">').submit();
        }
        return false;
    });
});
</script>
{% endblock %}