<h1>Miembros Activos</h1>

<ul class='active members'>
    {% for member in members %}
    <li>
        {% if member.metadata.url is defined %}
            <a href="{{ member.metadata.url }}" target="_blank">
                <img src="/bundles/aqpglugcodemedo/images/{{ member.image|default('default_member.png')}}" alt="{{ member.title }}" />
                {{ member.title }} ({{member.slug}})
            </a>
        {% else %}
            <img src="/bundles/aqpglugcodemedo/images/{{ member.image|default('default_member.png')}}" alt="{{ member.title }}" />
            {{ member.title }} ({{member.slug}})
        {% endif %}
    </li>
    {% endfor %}
</ul>