{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% block content %}
<h1>Miembros Activos</h1>
<ul class='members'>
    {% set featured = true %}
    {% for member in members %}
        {% if member.featured != featured %}
            {% set featured = member.featured %}
</ul>
<img id="nap68" src="/bundles/aqpglugcodemedo/images/icons/RightFillTriangleIcon.png" class="napkeeComponent napkeeIcon rotate360"/>
<img id="nap69" src="/bundles/aqpglugcodemedo/images/icons/LeftFillTriangleIcon.png" class="napkeeComponent napkeeIcon rotate360"/>

<h1>Todos los Miembros</h1>
<ul class='members'>
        {% endif %}
        <li>
            {% if member.metadata.url is defined %}
                <a href="{{ member.metadata.url }}" target="_blank">
                    <img src="/bundles/aqpglugcodemedo/images/{{ member.image|default('default_member.png')}}" alt="{{ member.title }}" />
                    {{ member.title }} ({{member.slug}})
                </a>
            {% else %}
                <img src="/bundles/aqpglugcodemedo/images/{{ member.image|default('default_member.png')}}" alt="{{ member.title }}" />
                {{ member.title }} ({{member.slug}})
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}