{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% import 'AqpglugCodemedoBundle:Macros:nav.html.twig' as nav %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/bundles/aqpglugcodemedo/css/member.css') }}" />
{% endblock %}

{% block title %}Comunidad{% endblock %}
    
{% block content %}

    {% render 'AqpglugCodemedoBundle:Member:active' %}
<h1>Todos los Miembros</h1>

<ul class='members'>
    {% for member in members %}
    <li>
        {% if member.metadata.url is defined %}
            <a href="{{ member.metadata.url }}" target="_blank">
                <img src="/bundles/aqpglugcodemedo/images/{{ member.image|default('default_member.png')}}" alt="{{ member.title }}" />
                {{ member.title }} ({{member.slug}})
            </a>
        {% else %}
            <img src="/bundles/aqpglugcodemedo/images/{{ member.image|default('default_member.png')}}" alt="{{ member.title }}" />
            {{ member.title }} ({{member.slug}})
        {% endif %}
    </li>
    {% endfor %}
</ul>

{{ nav.arrows('_member', page, pages) }}

{% endblock %}