{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/bundles/aqpglugcodemedo/css/member.css') }}" />
{% endblock %}

{% block title %}Comunidad{% endblock %}
    
{% block content %}
<h1>Miembros Activos</h1>
<ul class='members'>
    {% set featured = true %}
    {% for member in members %}
        {% if member.featured != featured %}
            {% set featured = member.featured %}
</ul>

<h1>Todos los Miembros</h1>
<ul class='members'>
        {% endif %}
        <li>
            {% if member.metadata.url is defined %}
                <a href="{{ member.metadata.url }}" target="_blank">
                    <img src="/bundles/aqpglugcodemedo/images/{{ member.image|default('default_member.png')}}" alt="{{ member.title }}" />
                    {{ member.title }} ({{member.slug}})
                </a>
            {% else %}
                <img src="/bundles/aqpglugcodemedo/images/{{ member.image|default('default_member.png')}}" alt="{{ member.title }}" />
                {{ member.title }} ({{member.slug}})
            {% endif %}
        </li>
    {% endfor %}
</ul>
<ul class="nav">
    <li class="left">{% if page != 1 %}
        <a href="{{ path('_member', {'page': page -1 }) }}">
            <img src="/bundles/aqpglugcodemedo/images/icons/navleft.png" alt="Anterior"/>
        </a>
        {% else %}
            <img src="/bundles/aqpglugcodemedo/images/icons/navleft.png" alt="Anterior"/>
        {% endif %}
    </li>
    <li class="right">{% if page != pages %}
        <a href="{{ path('_member', {'page': page + 1 }) }}">
            <img src="/bundles/aqpglugcodemedo/images/icons/navright.png" alt="Siguiente" />
        </a>
        {% else %}
            <img src="/bundles/aqpglugcodemedo/images/icons/navright.png" alt="Siguiente" />
        {% endif %}
    </li>
</ul>
{% endblock %}