{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}
{% import 'AqpglugCodemedoBundle:Macros:image.html.twig' as image %}

{% block title %}Eventos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('/bundles/aqpglugcodemedo/css/event.css') }}" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('/bundles/aqpglugcodemedo/js/gmap3.min.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Eventos</h1>
<div class="event-container">
    <ul class="events">
        {% for event in events %}
        <li>
            <img src="{{ event.image|default('http://lorempixum.com/80/80/technics/') }}" alt="{{ event.title }}" class="thumb" />
            <a href="{{ path("_event_show", {'slug': event.slug}) }}">{{ event.title }}</a>
            <img src="http://chart.googleapis.com/chart?chst=d_map_pin_letter&chld={{ letter(loop.index0) }}|FF0000|000000" id="ev{{ event.id }}" /><br />
            {% if event.metadata.resume is defined %}<p>{{ event.metadata.resume }}</p>{% endif %}
            {% if event.metadata.date is defined %}<time>{{ event.metadata.date|date("m/d/Y") }}</time>{% endif %}
        </li>
    {% else %}
        <li>no hay Eventos</li>
    {% endfor %}
    </ul>
    <div id="map"></div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(function() {
    $("#map").gmap3( { action: 'init', options:{center: [-16.398822,-71.536886], zoom:13}});
    {% for event in events %}
        {% if event.metadata.lat is defined %}
        addMarker($("#map"), $("#ev{{ event.id }}"), "http://chart.googleapis.com/chart?chst=d_map_pin_letter&chld={{ letter(loop.index0) }}|FF0000|000000" , {{event.metadata.lat}}, {{event.metadata.lng}});
        {% endif %}
    {% endfor %}
    $("#map").gmap3("autofit");
    
    function addMarker($this, $id, img, lat, lng) {
        $this.gmap3({
            action: 'addMarker',
            marker: {icon: img},
            latLng: [lat, lng],
            callback: function(marker){
                $id.click(function(){
                    $this.gmap3({action: 'panTo', args: [marker.position]});
                });
            },
        });
    }
});
</script>
{% endblock %}
