{% extends 'AqpglugCodemedoBundle::layout.html.twig' %}
{% import 'AqpglugCodemedoBundle:Macros:image.html.twig' as image %}

{% block title %}Eventos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('/bundles/aqpglugcodemedo/js/gmap3.min.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Eventos</h1>
<div class="event-container">
    <ul class="events">
        {% for event in events %}
        <li>
            <img src="{{ image.or_default( event.image, 'http://lorempixum.com/80/80/technics/') }}" alt="{{ event.title }}" />
            <a href="{{ path("_event_show", {'slug': event.slug}) }}">{{ event.title }}</a><br />
            {% if event.metadata.resume is defined %}<span>{{ event.metadata.resume }}</span><br />{% endif %}
            {% if event.metadata.date is defined %}<span class="date">{{ event.metadata.date|date("m/d/Y") }}</span>{% endif %}
        </li>
    {% else %}
        <li>no hay Eventos</li>
    {% endfor %}
    </ul>
    <div id="map"></div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(function() {
    $("#map").gmap3( { action: 'init', options:{center: [-16.398822,-71.536886], zoom:13}},
    {% for event in events %}
        {% if event.metadata.lat is defined %}
            { action: 'addMarker', latLng:[{{event.metadata.lat}}, {{event.metadata.lng}}]},
        {% endif %}
    {% endfor %}
    "autofit");
});
</script>
{% endblock %}